body {
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;             /* establish flex container */
    align-items: center;       /* center ul container vertically */
    width: 100%;
    padding: 10px 20px;
}

header img{
    width: 10%;
}

.searh-bar{
    display: flex;             /* establish flex container */
    align-items: center;
    justify-content: center; 
    width: 75%;
    margin-top: 15px;
}

.searh-bar form input{
    width: 500px;
    padding: 5px;
    font-size: 16px;
}
.searh-bar form button{
    font-size: 16px;
    padding: 6px 20px;
    margin-left: -5px;
    color: darkgray;
}

header nav a {
    text-decoration:  none;
    color: darkgray;
    font-size: 20px;
    padding-right: 15px;
}
