body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto auto;
    background-color: #f7f6f2;
}

header{
    /*display: flex;     
    align-items: center;     
    width: 100%;
    padding: 0px 20px;
    background-color: white;*/
    display: grid;
    grid: 56px 1fr / 56px 100px 1fr 200px;
    padding: 0px 20px;
    background-color: white;
    align-items: center;
}

header ul{
    display: grid;
    grid-template-columns: repeat(4, min-content);
    justify-content: space-evenly;
}

ul, li{
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
    padding: 10px;
     font-size: 17px;
     color:  darkgray;
}

header img{
    width: 100px;
}

.searh-bar{
    display: flex;            
    align-items: center;
    justify-content: center; 
    margin-top: 15px;
}

.searh-bar form input{
    width: 500px;
    padding: 5px;
    font-size: 16px;
}
.searh-bar form button{
    font-size: 14px;
    padding: 7px 30px;
    margin-left: -5px;
    color: darkgray;


}

header nav a {
    text-decoration:  none;
    color: darkgray;
    font-size: 20px;
    padding-right: 15px;
}

main{

    display: grid;   
    grid: 1fr / 60% 1fr;
    padding: 30px 100px;
}

section{
    /* width: 65%; */
    padding: 20px;
}

aside article{
    display: flex;
}

aside article img{
    width: 300px;
    height: 120px;
    padding: 20px 20px 20px 0px;
}
.video-player div{
    width: 100%;
    display: grid;
    grid: 1fr / 60% repeat(4, 56px) 56px;
}