
/* body styling */
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto auto;
    background-color: #f7f6f2;
}

/* remove default styling on links */
a{
    text-decoration: none;
}

/* header styling */

header{
    display: grid;
    grid: 56px 1fr / 56px 100px 1fr 200px;
    padding: 0px 20px;
    background-color: white;
    align-items: center;
}

header ul{
    display: grid;
    grid-template-columns: repeat(4, min-content);
    justify-content: space-evenly;
}

ul, li{
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
    padding: 10px;
     font-size: 17px;
     color:  darkgray;
}

header img{
    width: 100px;
}

.searh-bar{
    display: grid;
    grid: 1fr / 1fr 30px;
    justify-content: center; 
    margin-top: 15px;
    padding: 0 150px
    /*display: flex;            
    align-items: center;
    */
}

.searh-bar form input{
    width: 500px;
    padding: 5px;
    font-size: 16px;
}
.searh-bar form button{
    font-size: 14px;
    padding: 7px 30px;
    margin-left: -5px;
    color: darkgray;


}

header nav a {
    text-decoration:  none;
    color: darkgray;
    font-size: 20px;
    padding-right: 15px;
}

/* End header styling */

/* main page styling */
main{

    display: grid;   
    grid: 1fr / 60% 1fr;
    padding: 30px 100px;
}

/* principal video section styling */
section{
    /* width: 65%; */
    padding: 20px;
}

.video-player{
    display: grid;
    grid: 400x 56px 1fr / 1fr;
}

.video-player>div{
    width: 100%;
    display: grid;
    grid: 1fr / 1fr repeat(2, 70px) repeat(2, 90px) 40px;
    color: rgb(90, 88, 88);
    border-bottom: 0.5px solid darkgray;
    /*padding: 20px 0;*/
}

#like-button{
    border-bottom: 2px solid rgb(90, 88, 88);
    padding-bottom: 20px;
    text-align: center;
}

.video-description{
    display: grid;
    grid: 60px 1fr / 1fr;
    padding: 20px 0;
    border-bottom: 0.5px solid darkgray;
}

.video-description div{
    display: grid;
    grid: 1fr / 60px 1fr 100px;
}

.profile-letter{
    background-color: darkgreen;
    color: white;
    font-size: 25px;
    border-radius: 100%;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
}

#author{
    padding: 10px;
}

.video-description div button{
    background-color: rgb(134, 4, 4);
    color: white;
    font-weight:  bold;
    height: 50px !important;
    border: none;
    box-shadow: none;
    padding: 0 10px;
    border-radius: 5px;
}

.video-description p{
    padding-left: 72px;
    text-align: justify;
    font-size: 15px;
    color: rgb(78, 77, 77);

}

.video-description b{
    padding-left: 50px;
}

.comment-section{
    display: grid;
    grid: 150px 1fr / 1fr;
    padding: 20px 0;
}

.comment-wrap{
    display: grid;
    grid: 56px 100px / 1fr;
}

.comment-wrap div span{
    padding-right: 20px;
}

.comment-form{
    display: grid;
    grid: 1fr / 56px 1fr;
}

.comment-form i{
    font-size: 40px;
}

.comment-form textarea{
    background: none;
    border: none;
    border-bottom: 1px solid darkgrey;
    width: 100%;
    padding: none;
}
.comment-form button{
    float: right;
    margin-top: 10px
}

.comment-form button{
    float: right;
    margin-top: 10px;
    padding: 10px 30px;
}

.comment-form button[type='reset']{
    background: none;
    color: black;
    font-weight:  bold;
    border: none;
    box-shadow: none;
}
.comment-form button[type='submit']{
    background-color: darkgrey;
    color: white;
    font-weight:  bold;
    border: none;
    box-shadow: none;
    border-radius: 5px;
}
.comment-display{
    display: grid;
    grid: repeat (4, 200px) / 1fr;

}
.comment-display article{
    display: grid;
    grid: 1fr / 56px 1fr 56px;
    padding: 20px 0;
}
#profile{
    font-size: 40px;
}
.comment-display article strong, span{
    font-size: 13px;
}
.comment-display article p{
    font-size: 14px;
}
#onet{
    padding-right: 20px;
    color: darkgray;
}

#more{
    padding: 15px;
    color: white;
}

#more:hover{
    color: darkgrey;
}

.comment-display article button{
        background: none;
        color: darkgray;
        font-weight:  bold;
        border: none;
        box-shadow: none;
}

/* making the youtube iframe reponsive */
.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* End principal section styling */

/* sidebar styling */
aside article{
    display: grid;
    grid: 1fr / 200px 1fr 56px;
}

aside article img{
    width: 190px;
    height: 120px;
    padding: 10px 0;
}

aside div{
    padding: 10px 0;
}

aside div label{
    float: right;
}

aside div label span{
    color: darkgrey;
}

aside div span{
    font-size: 16px;
}
aside article strong{
    font-size: 14px;
}

aside article span{
    font-size: 13px;
    color: darkgrey;
}

aside article i{
    padding: 15px;
    color: white;
}

aside article i:hover{
    color: darkgrey;
}

/* End sidebar styling */


/* media query from ipad screen size to the lowest */
@media screen and (max-width: 768px) {
    main{
        display: grid;   
        grid: 1fr / 1fr;
        padding: 30px 20px;
    }

}



